In [1]:
pwd

u'/home/zw/Documents/project/ad-contest/xgboost_lzw'

In [2]:
cd ..

/home/zw/Documents/project/ad-contest

In [3]:
import pandas as pd
import numpy as np

In [4]:
train1 = pd.read_csv('note_book_code/middle_file/train1.csv')
test1 = pd.read_csv('note_book_code/middle_file/test1.csv')

In [5]:
train1.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'label', u'clickTime',
       u'conversionTime', u'creativeID', u'userID', u'positionID',
       u'connectionType', u'telecomsOperator', u'adID', u'camgaignID',
       u'advertiserID', u'appID', u'appPlatform', u'user_count', u'popularity',
       u'age', u'gender', u'education', u'marriageStatus', u'haveBaby',
       u'hometown', u'residence', u'appcount', u'love_app'],
      dtype='object')

In [6]:
test1.columns

Index([u'Unnamed: 0', u'instanceID', u'label', u'clickTime', u'creativeID',
       u'userID', u'positionID', u'connectionType', u'telecomsOperator',
       u'adID', u'camgaignID', u'advertiserID', u'appID', u'appPlatform',
       u'user_count', u'popularity', u'age', u'gender', u'education',
       u'marriageStatus', u'haveBaby', u'hometown', u'residence', u'appcount',
       u'love_app'],
      dtype='object')

In [7]:
from xgboost_ff.hotch_potch import *

/home/zw/Documents/project/virtualenv_home/webclassify/local/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
test1

,Unnamed: 0,instanceID,label,clickTime,creativeID,userID,positionID,connectionType,telecomsOperator,adID,...,popularity,age,gender,education,marriageStatus,haveBaby,hometown,residence,appcount,love_app
0,1,2,-1,310000,2284,2127247,1613,1,3,1388,...,NaN,23,2,6,1,0,2205,2301,NaN,NaN
1,4,5,-1,310000,49,2513636,3615,1,3,1469,...,NaN,9,2,4,0,0,307,307,NaN,NaN
2,17,18,-1,310000,4967,931181,6539,1,1,1166,...,NaN,18,2,6,1,0,511,511,NaN,NaN
3,26,27,-1,310000,594,1399698,6161,1,2,2837,...,NaN,29,2,1,2,1,114,1102,NaN,NaN
4,34,35,-1,310000,3293,1266100,3347,1,1,2891,...,NaN,25,1,4,0,0,2108,2508,NaN,NaN
5,42,43,-1,310000,3745,1215329,3347,1,1,1166,...,NaN,28,2,2,2,1,504,504,NaN,NaN
6,43,44,-1,310000,3293,2804635,3347,1,1,2891,...,NaN,45,0,4,2,1,0,412,NaN,NaN
7,46,47,-1,310000,5258,2035756,3307,1,0,2195,...,NaN,25,1,1,1,0,1404,0,NaN,NaN
8,52,53,-1,310000,4169,1709888,3347,1,2,2298,...,NaN,24,1,1,1,0,1405,1409,NaN,NaN
9,62,63,-1,310000,3293,213539,6161,1,1,2891,...,NaN,22,2,4,0,1,201,201,NaN,NaN
10,68,69,-1,310000,321,1054163,6905,2,1,1469,...,NaN,25,2,3,0,1,805,805,NaN,NaN
11,82,83,-1,310000,3745,2077956,3347,1,2,1166,...,NaN,33,2,1,2,1,1610,1610,NaN,NaN
12,92,93,-1,310000,1570,1226385,3615,1,2,2837,...,NaN,15,2,0,0,0,0,1303,NaN,NaN
13,94,95,-1,310000,2284,173965,3347,1,2,1388,...,NaN,28,2,6,0,0,1608,1608,NaN,NaN
14,95,96,-1,310000,6333,2650606,3322,1,2,3612,...,NaN,23,1,5,1,0,0,1001,NaN,NaN
15,100,101,-1,310000,3293,1849494,659,1,1,2891,...,NaN,22,2,0,3,0,903,916,NaN,NaN
16,102,103,-1,310000,6064,472542,4522,1,1,2113,...,NaN,35,1,3,2,0,1401,1401,NaN,NaN
17,107,108,-1,310000,3745,2343346,7422,1,1,1166,...,NaN,11,2,3,2,0,0,1303,NaN,NaN
18,109,110,-1,310000,2284,1239155,3457,1,3,1388,...,NaN,16,1,3,0,0,1109,1109,NaN,NaN
19,124,125,-1,310000,321,117451,6539,2,1,1469,...,NaN,20,2,1,2,1,903,907,NaN,NaN
20,131,132,-1,310000,6490,2507175,3347,1,2,1469,...,NaN,10,2,4,2,1,802,802,NaN,NaN
21,133,134,-1,310000,3745,2600333,3498,1,2,1166,...,NaN,34,2,1,2,1,0,206,NaN,NaN
22,160,161,-1,310001,1465,2531360,3322,1,1,3141,...,NaN,19,2,3,1,0,1204,1204,NaN,NaN
23,161,162,-1,310001,3745,1715446,5648,1,1,1166,...,NaN,26,0,1,0,1,0,1601,NaN,NaN
24,173,174,-1,310001,3293,1938595,3498,1,0,2891,...,NaN,27,2,3,1,0,0,201,NaN,NaN
25,174,175,-1,310001,2284,1106019,3347,1,2,1388,...,NaN,24,2,2,1,0,216,213,NaN,NaN
26,177,178,-1,310001,3745,2170066,3451,1,2,1166,...,NaN,2,2,2,0,1,906,906,NaN,NaN
27,180,181,-1,310001,2284,345,750,1,1,1388,...,NaN,19,2,1,0,1,205,205,NaN,NaN
28,186,187,-1,310001,3745,2346095,7422,1,2,1166,...,NaN,28,2,1,0,3,809,809,NaN,NaN
29,190,191,-1,310001,3745,2177949,6161,1,2,1166,...,NaN,28,2,5,2,3,901,901,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33228,338252,338253,-1,312358,3107,2538316,7619,1,2,2699,...,NaN,27,1,1,1,0,412,401,NaN,NaN
33229,338262,338263,-1,312358,4562,1065686,3322,1,2,1454,...,NaN,16,1,3,1,0,1503,1501,NaN,NaN
33230,338263,338264,-1,312358,1465,1451574,3322,1,3,3141,...,NaN,19,2,3,1,0,214,214,NaN,NaN
33231,338277,338278,-1,312358,3320,1343229,3322,1,3,120,...,NaN,25,1,1,1,0,802,802,NaN,NaN
33232,338280,338281,-1,312358,464,2538083,7377,2,1,1393,...,NaN,25,1,0,1,0,204,204,NaN,NaN
33233,338298,338299,-1,312359,5258,109016,5140,2,1,2195,...,NaN,26,1,0,1,0,503,503,NaN,NaN
33234,338299,338300,-1,312359,1465,1451574,3322,1,3,3141,...,NaN,19,2,3,1,0,214,214,NaN,NaN
33235,338317,338318,-1,312359,4113,2130022,3322,1,1,858,...,NaN,19,1,3,0,0,1104,1104,NaN,NaN
33236,338322,338323,-1,312359,2239,1353854,3322,1,1,1510,...,NaN,21,1,7,0,0,109,109,NaN,NaN
33237,338323,338324,-1,312359,1465,1288630,3322,1,2,3141,...,NaN,20,2,5,1,0,401,413,NaN,NaN
33238,338324,338325,-1,312359,1263,1685692,3322,1,2,2165,...,NaN,22,1,1,3,0,1104,1104,NaN,NaN
33239,338332,338333,-1,312359,5444,1451336,5539,3,1,2460,...,NaN,30,1,4,2,0,0,1401,NaN,NaN
33240,338352,338353,-1,312359,4562,279929,3322,1,1,1454,...,NaN,20,1,1,1,0,1110,1512,NaN,NaN
33241,338354,338355,-1,312359,2636,2149395,7377,2,3,1854,...,NaN,34,1,4,2,0,0,0,NaN,NaN
33242,338367,338368,-1,312359,1465,1520118,7619,1,2,3141,...,NaN,19,2,1,1,0,0,801,NaN,NaN
33243,338372,338373,-1,312359,1263,2151899,457,1,2,2165,...,NaN,31,1,0,2,1,802,802,NaN,NaN
33244,338382,338383,-1,312359,4785,2677046,3322,1,2,2871,...,NaN,21,1,1,1,0,704,704,NaN,NaN
33245,338395,338396,-1,312359,2239,550243,3322,1,2,1510,...,NaN,21,1,6,1,0,810,810,NaN,NaN
33246,338400,338401,-1,312359,3192,2647395,3322,1,2,1124,...,NaN,17,1,3,0,1,1309,1302,NaN,NaN
33247,338401,338402,-1,312359,4887,1583775,3322,1,2,1336,...,NaN,13,1,2,3,0,1102,1409,NaN,NaN
33248,338402,338403,-1,312359,3192,1697178,3322,1,1,1124,...,NaN,20,1,3,0,4,1206,1206,NaN,NaN
33249,338405,338406,-1,312359,4322,2352388,4522,0,0,3127,...,NaN,44,1,0,2,0,2601,2601,NaN,NaN
33250,338427,338428,-1,312359,4785,403281,3322,1,2,2871,...,NaN,25,1,1,1,0,902,902,NaN,NaN
33251,338433,338434,-1,312359,2239,2146434,3322,1,3,1510,...,NaN,25,1,1,1,0,1812,1812,NaN,NaN
33252,338439,338440,-1,312359,2623,2017459,3322,1,2,70,...,NaN,20,1,5,0,0,510,2601,NaN,NaN
33253,338456,338457,-1,312359,3192,194780,3322,1,1,1124,...,NaN,21,1,1,1,0,701,2601,NaN,NaN
33254,338458,338459,-1,312359,4322,1100057,4522,0,0,3127,...,NaN,28,1,1,1,0,708,708,NaN,NaN
33255,338471,338472,-1,312359,4785,2160374,3322,1,2,2871,...,NaN,20,1,2,0,0,409,401,NaN,NaN
33256,338475,338476,-1,312359,750,1893932,3322,1,2,750,...,NaN,24,1,2,3,0,1103,1103,NaN,NaN
33257,338476,338477,-1,312359,5258,1670094,3347,2,3,2195,...,NaN,27,1,0,1,0,904,901,NaN,NaN

In [10]:
train1.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'label', u'clickTime',
       u'conversionTime', u'creativeID', u'userID', u'positionID',
       u'connectionType', u'telecomsOperator', u'adID', u'camgaignID',
       u'advertiserID', u'appID', u'appPlatform', u'user_count', u'popularity',
       u'age', u'gender', u'education', u'marriageStatus', u'haveBaby',
       u'hometown', u'residence', u'appcount', u'love_app'],
      dtype='object')

In [11]:
from utils import config
data_root = config.get_home_dir() + 'raw_data/pre'
dfAd = pd.read_csv("%s/ad.csv"%data_root)
df_app_cat = pd.read_csv('%s/app_categories.csv'%data_root)

In [14]:
position = pd.read_csv("%s/position.csv"%data_root)

In [ ]:
predectors = [u'creativeID', u'userID', u'positionID',
       u'connectionType', u'telecomsOperator', u'adID', u'camgaignID',
       u'advertiserID', u'appID', u'appPlatform', u'user_count', u'popularity',
       u'age', u'gender', u'education', u'marriageStatus', u'haveBaby',
       u'hometown', u'residence', u'appcount', u'love_app']

In [17]:
def merge_t(train,test):
    train = pd.merge(train,df_app_cat,how='left',on='appID')
    test = pd.merge(test,df_app_cat,how='left',on='appID')
    train = pd.merge(train,position,how='left',on='positionID')
    test = pd.merge(test,position,how='left',on='positionID')
    return train,test

In [18]:
train1,test1 = merge_t(train1,test1)

In [20]:
train1.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'label', u'clickTime',
       u'conversionTime', u'creativeID', u'userID', u'positionID',
       u'connectionType', u'telecomsOperator', u'adID', u'camgaignID',
       u'advertiserID', u'appID', u'appPlatform', u'user_count', u'popularity',
       u'age', u'gender', u'education', u'marriageStatus', u'haveBaby',
       u'hometown', u'residence', u'appcount', u'love_app', u'appCategory',
       u'sitesetID', u'positionType'],
      dtype='object')

In [ ]:
predictors1 = [u'connectionType', u'telecomsOperator', u'adID', u'camgaignID',
       u'advertiserID', u'appID', u'appPlatform', u'user_count', u'popularity',
       u'age', u'gender', u'education', u'marriageStatus', u'haveBaby',
       u'hometown', u'residence', u'appcount', u'love_app', u'appCategory',
       u'sitesetID', u'positionType']